$text-decoration: none;
$margin-header: 0;
$font-family: 'Orbitron',
sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 5px;
  text-align: center;
  font-size: 2rem;
  color: #fff;

  div.social-icons.row {
    width: fit-content;
    margin: auto;
  }

  g.social-svg-mask:hover path {
    fill: #fcf8e3;
    transition: all 1.5s;
  }

  .arrow {
    animation: down 1s ease-in-out infinite;
    font-size: 3.5rem;
    color: rgb(14, 137, 185);
    margin: auto;
  }

  .arrow:hover {
    color: #fff;
  }

  .about-header,
  .skill-header,
  .work-header {
    margin: $margin-header;
    font-family: $font-family;
    padding: 40px 0;
  }

  #skills {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #767b7e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .skills-wrapper {
      width: 65vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 3rem auto;
    }

    .skill-type {
      padding: 10px;
      background-color: rgb(255, 255, 255);
      border-radius: 45%;
      text-align: center;
      font-weight: 500;
      opacity: 0.8;
      border: 5px solid #ffbf00;
    }

    .skill-type:hover {
      background-color: #002f35;
      transform: scale(1.1);
      transition: 0.9s;
      opacity: 0.5;
    }

    .skill-header {
      padding-bottom: 0;
    }
  }

  #latest-work {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .work-header {
      font-family: $font-family;
      margin: $margin-header;
    }
  }
}

@keyframes right {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

@keyframes down {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}


// Media Queries
@media screen and (max-width: 785px) {

  #skills {
    height: 100%;

    .skills-wrapper {
      width: 90vw;
    }

    .skill-type {
      max-width: 80px;
    }
  }

  img.img-fluid {
    margin: auto;
  }
}

@media screen and (max-width: 575px) {

  .jumbotron {
    max-width: 90%;
    margin: auto;
  }

  #about {
    max-height: 100vh;
  }

  #skills {
    height: 100vh;

    .skill-type {
      width: 65px;
    }
  }

  img.img-fluid {
    margin: auto;
  }
}
