$text-decoration: none;
$margin-header: 0;
$color: #fff;
$font-family: 'Orbitron',
sans-serif;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 5px;
  text-align: center;
  font-size: 2rem;
  color: #fff;

  div.social-icons.row {
    width: fit-content;
    margin: auto;
  }
  
  g.social-svg-mask:hover path {
    fill: #fcf8e3;
    transition: all 1.5s;
  }
  
  .arrow-down {
    animation: down 1s ease-in-out infinite;
    font-size: 3.5rem;
    color: rgb(14, 137, 185);
    margin: auto;
  }
  
  .grid-container,
  .skills-wrapper,
  .about-container {
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  .grid-container {
    width: 70vw;
  }
  
  #skills,
  #latest-work,
  #about {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    margin: auto;
  }
  
  .about-header,
  .skill-header,
  .work-header {
    font-family: $font-family;
  }
  
  .about-header,
  .work-header {
    padding-bottom: 40px;
  }
  
  #skills {
    background: #bdc3c7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #767b7e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    ;
    height: 70vh;
    width: 100vw;
  
    .skill-header {
      margin: $margin-header;
      padding: 0;
    }
  
    .skill-type {
      padding: 20px;
      background-color: rgb(255, 255, 255);
      border-radius: 45%;
      text-align: center;
      font-weight: 500;
      opacity: 0.8;
      border: 5px solid #ffbf00;
    }
  
    .skill-type:hover {
      background-color: #002f35;
      transform: scale(1.1);
      transition: 0.9s;
      opacity: 0.5;
    }
  }
  
  #latest-work {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    .work-header {
      padding-top: 70px;
      font-family: $font-family;
      margin: $margin-header;
    }
  
    img:hover {
      transform: scale(1.1);
      transition: 0.9s;
      opacity: 0.5;
    }
  
  
    .img-container .after {
      position: absolute;
      top: 0;
      left: 0;
      width: 350px;
      height: 350px;
      display: none;
      color: #fff;
    }
  
    .image-container:hover .after {
      display: block;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}



@keyframes right {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

@keyframes down {

  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}


// Media Queries
@media screen and (max-width: 1024px) {
  #skills {
    height: 100vh;
  }
}

@media screen and (max-width: 785px) {
  .work {
    width: 100%;
  }

  #skills {
    height: 100vh;
  }

  .grid-container,
  .skills-wrapper,
  .about-container {
    width: 100vw;

  }

}

@media screen and (max-width: 575px) {
  .skills {
    margin: auto;
    height: 95vh;
  }

  #about {
    height: 75vh;
  }

  .grid-container,
  .skills-wrapper,
  .about-container {
    width: 100vw;
  }

  .main-header {
    font-size: 3rem;
  }

  .sub-header {
    font-size: 1.8rem;
  }

}
