body {
  margin: 0;
  padding: 0;
  
  font-family: 'Indie Flower', cursive;
  letter-spacing: 3px;
}

.skills, .info {
  text-align: left;
}

.home-page {
  background: url('https://images.unsplash.com/photo-1535341000823-01aa350a4fbb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e17c6ec715fcb50522c09214b467802&auto=format&fit=crop&w=700&q=80') no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  margin: auto;
  width: 85%;
  margin-top: 15vh;
}

.btn-primary {
  background-color: #000;
  border-color: #000;
}

li {
  font-size: 1.5rem;
}

div.home-row.row {
  width: fit-content;
  margin: 25vh auto;
}

.work a {
  width: 300px;
}

.work .arrow {
  display: inline-block;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #f4f815;
}

 .arrow {
  width: 20%;
  margin-left: 1em;
  font-size: 2rem;
  animation: left 1s ease-in-out infinite;
}

.arrow-down {
  animation: down 1s ease-in-out infinite;
  font-size: 3rem;
  cursor: pointer;
  color: #f4f815;
}

.about-page {
  // background: url('img/aperture-vintage-346923-unsplash.jpg') no-repeat center center fixed;
  // background-size: cover;
  // height: 100vh;
  background-color: beige;
}

.about-left, .about-right {
  text-align: center;
}

@keyframes left {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(10px, 0);
  }
}

@keyframes down {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}


@media (max-width: 767px) {
  .work {
    width: 100%;
  }
}
