body {
  margin: 0;
  padding: 0;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 3px;
}

h2 {
  padding: 20px;
  color: #fff;
}

.navbar {
  margin: 0;
}

.navbar .navbar-brand {
  list-style-type: none;
}

#home {
  background: url("https://images.unsplash.com/photo-1535341000823-01aa350a4fbb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9e17c6ec715fcb50522c09214b467802&auto=format&fit=crop&w=700&q=80") no-repeat center center fixed;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  margin: auto;
  width: 85%;
  margin-top: 15vh;
}

li {
  font-size: 1.5rem;
}

a.nav-link {
  text-decoration: none;
  color: #fff;
}

div.social-icons.row {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 25vh auto;
}

.work a {
  width: 300px;
}

.work .arrow-btn-right {
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #f4f815;
}

.arrow-btn-right {
  width: 15%;
  margin-left: 1em;
  font-size: 2rem;
  -webkit-animation: right 1s ease-in-out infinite;
          animation: right 1s ease-in-out infinite;
}

.arrow-down {
  -webkit-animation: down 1s ease-in-out infinite;
          animation: down 1s ease-in-out infinite;
  font-size: 3.5rem;
  color: #0e89b9;
}

#about {
  height: 100vh;
  background: #bdc3c7;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#2c3e50), to(#bdc3c7));
  background: linear-gradient(to left, #2c3e50, #bdc3c7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 74%, 0 100%);
}

#about .hr-line {
  height: 5%;
  background: #000;
}

.skills-container .skill-header {
  font-family: "Permanent Marker", cursive;
}

.skills-container .skill-type {
  width: 130px;
  margin: 0 20px 20px 0;
  list-style-type: none;
  float: left;
  padding: 20px;
  background-color: #181717;
  color: #fff;
  border-radius: 45%;
  text-align: center;
  font-weight: 500;
  opacity: 0.5;
  border: 5px solid #420637;
}

.skills-container .skill-type:hover {
  background-color: #4d0741;
  -webkit-transition: 1s;
  transition: 1s;
}

.about-container {
  margin-top: 80px;
}

.about-container .about-header {
  font-family: "Permanent Marker", cursive;
}

.about-container p {
  font-size: 1.5rem;
}

#latest-work {
  height: 100vh;
  background: #000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#0f9b0f), to(#000));
  background: linear-gradient(to left, #0f9b0f, #000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#latest-work .hr-line {
  height: 5%;
  background: #000;
}

#latest-work .work-header {
  padding-top: 70px;
  font-family: "Permanent Marker", cursive;
}

@-webkit-keyframes right {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
}

@keyframes right {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(10px, 0);
            transform: translate(10px, 0);
  }
}

@-webkit-keyframes down {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}

@keyframes down {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
  }
}

@media (max-width: 767px) {
  .work {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .skills {
    margin: auto;
  }
}
/*# sourceMappingURL=App.css.map */